<script src="https://js.stripe.com/v3/"></script>

<div id="card-element"></div>
<button onclick="pagar()">Pagar</button>

<script>
  const stripe = Stripe('pk_test_51THPMqAnpqA88CQ7rEmuBgQ67RSe897nIK3bhXQPytdW4b277QSST6sUpGLc8IGho7SwYCY0ZIQxz7XBtUBhObCU00DRhbHHOM');

  const elements = stripe.elements();
  const card = elements.create('card');
  card.mount('#card-element');

  async function pagar() {
    const result = await stripe.confirmCardPayment(
      'pi_3THnVaAnpqA88CQ71vjwBcYu_secret_leRkNQhZFrwZlZ2lYK9TWjHLL',
      {
        payment_method: {
          card: card,
        },
      }
    );

    console.log(result);
  }
</script>